{{ define "signup" }}
{{template "pagestart" .}}
<div class="section">
    <div class="container">
        <form id="signupForm">
            <div class="field">
                <div class="control">
                        <input class="input email" type="text" placeholder="邮箱地址">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input pwd" type="password" placeholder="密码">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input repeat" type="password" placeholder="重复密码">
                </div>
            </div>

            <div class="control">
                <button class="button is-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>

<script src="/static/js/signup.0.0.1.js"></script>
{{template "pageend" .}}
{{ end }}